<!--  Product Reviews List -->
<div>
<ul>
    <h4>Reviews</h4>
    <li ng-repeat="review in product.reviews">
        <blockquote>
            <strong>{{review.stars}} Stars</strong>
            {{review.body}}
            <cite class="clearfix">—{{review.author}} on {{review.createdOn | date: 'dd:MM:yyyy @ h:mma'}}</cite>
        </blockquote>
    </li>
</ul>

<!--<form name="reviewForm" ng-controller="ReviewController as reviewCtrl">-->
<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
    <!--  Live Preview -->
    <blockquote>
        <strong>{{reviewCtrl.review.stars}} Stars</strong>
        {{reviewCtrl.review.body}}
        <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
    </blockquote>

    <!--  Review Form -->
    <h4>Submit a Review</h4>
    <fieldset class="form-group">
        <select class="form-control" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
            <option value="">Rate the Product</option>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." title="Review" required></textarea>
    </fieldset>
    <fieldset class="form-group">
        <input type="email" class="form-control" ng-model="reviewCtrl.review.author" placeholder="jimmyDean@example.org" title="Email" required/>
    </fieldset>
    <div>review form is {{reviewForm.$valid}}</div>
    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit Review"/>
    </fieldset>
</form>
</div>